body {
  margin: 0;
  overflow: hidden;
}

canvas {
  z-index: -20 !important;
}

.ui {
  position: absolute;
}

#guiButtonsBottom{
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
}

#guiButtonsTop{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

#selectedColor{
  border-color: black;
}

.colorButton{
  border-width: 1.5px;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-bottom: 8px;
  float: left;
}

.colorButton:hover{
  border-color: black;
}

.colorDiv button{
  width: 100%;
  height: 100%;
}

#solve{
  width: 250px;
  height: 50px;
  font-size: 24px;
  border-width: 1.5px;
  border-color: #03661d;
  float: right;
  margin-right: 5px;
}

#settings{
  bottom: 30px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-width: 1.5px;
  border-color: #247b9e;
  margin: 5px;
  float: right;
}

.btn:focus,.btn:active {
   outline: none;
   box-shadow: none;
}

.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

.jscolor {
  touch-action: none;
}

.colorSetting
{
  width: 20px;
  height: 20px;
}

@media only screen and (orientation: landscape) and  (max-width: 850px){
  #guiButtonsBottom {
    text-align: center;
  }

  .colorButton {
    width: 30px;
    height: 30px;
    float: left;
    margin: 3px;
  }

  #solve{
    width: 150px;
    height: 40px;
    font-size: 15px;
  }
}

@media screen and (orientation: portrait) and (max-width: 650px) {
  #guiButtonsBottom {
    text-align: center;
  }

  .colorButton {
    float: none;
    width: 40px;
    height: 40px;
    margin: 3px;
  }

  #solve {
    float: none;
    margin-top: 6px;
  }
}

@media screen and (max-width: 340px) {
  #guiButtonsBottom {
    text-align: center;
  }

  .colorButton {
    width: 35px;
    height: 35px;
    margin: 3px;
  }

  #solve{
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-top: 6px;
  }
}
