body {
  margin: 0;
  overflow: hidden;
}

canvas {
  z-index: -1;
}

.ui {
  position: absolute;
}

.guiButtons{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
}

#selectedColor{
  border-color: black;
}

.colorButton{
  border-width: 1.5px;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.colorButton:hover{
  border-color: black;
}

.colorDiv button{
  width: 100%;
  height: 100%;
}

#solve{
  bottom: 30px;
  width: 250px;
  height: 50px;
  font-size: 24px;
  border-width: 1.5px;
  border-color: #03661d;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#settings{
  bottom: 30px;
  width: 65px;
  height: 50px;
  font-size: 24px;
  border-width: 1.5px;
  border-color: #247b9e;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}

.btn:focus,.btn:active {
   outline: none;
   box-shadow: none;
}

.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

.jscolor {
  z-index: 1140 !important;
}
