body {
  margin: 0;
  overflow: hidden;
}

canvas {
  z-index: -1;
}

.ui {
  position: absolute;
}

.colorButtons{
  position: absolute;
  left: 0;
  top: 0;
  width: 188px;
  height: 135px;
  padding: 10px;
  margin: 5px;
  background: white;
  border-radius: 7px;
  border-style: solid;
  border-width: 1.5px;
}

.colorDiv{
  width: 45px;
  height: 45px;
  margin: 5px;
  float: left;
}

.selectedColor{
  border-width: 5px;
}

.colorButton{
  border-radius: 7px;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
}

.colorButton:hover{
  border-width: 3px;
}

.colorDiv button{
  width: 100%;
  height: 100%;
}

#solve{
  position: absolute;
  left: 50%;
  bottom: 30px;
  height: 75px;
  width: 250px;
  font-size: 36px;
  transform: translateX(-50%);
}

#selectedColor{
  border-width: 3px;
}
